* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu {
    position: fixed;
    top: 0;
    background-color: gray;
    height: 25px;
    width: 10000px;
}
.caixaDois {
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;}

.caixaTres {
    background-color: rgb(255, 174, 0);
    width: 100px;
    height: 100px;}

.voltar {
    position: fixed;
    color: rgb(0, 0, 0);
    font-size: small;
    bottom: 0px;
    left: 0px;
    width: 40px;
    height: 20px;
    padding: 5px;
    background-color: red;
}